body {
  padding-bottom: 20px;
  background-color: #d1f0f9;
}

footer {
  position:absolute;
   bottom:0;
   width:100%;
}

.btn {
	background-color: #FFFFFF !important;
	color:#6C747C;
	border: 1px solid white;
}

.navbar {
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
}

.jumbotron-fluid {
  padding:20px 20px 20px 20px;
  border-radius: 10px 10px 10px 10px;
	background-color: #FFFFFF;
}


