          <div id="divv">
            <!-- E' stato messo un return false alla submit per evitare il refresh finale e vedere modal -->
            <form id="formCard" method="POST" action="" onSubmit = "return verificaPagamentoCarta();" >
            <div style="margin-top: 5%;"class="row">
              <div class="col-md-6 mb-3">
                <label for="cc-name123">Proprietario Carta</label>
                <input type="text" class="form-control" id="cc-name123" placeholder="">
                <small class="text-muted">Proprietario scritto sulla carta (Nome Cognome)</small>
                <div style="color: red;" id="control-name-card">
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="cc-number123">Numero carta di credito</label>
                <input type="text" class="form-control" id="cc-number123" maxlength="16" placeholder="">
                <div style="color: red;" id="control-code-card">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="cc-expiration123">Scadenza</label>
                <input type="text" class="form-control" id="cc-expiration123" placeholder="">
                <div style="color: red;" id="control-expiration-card">
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="cc-cvv123">CCV/CVV</label>
                <input type="text" class="form-control" id="cc-cvv123" maxlength="3" placeholder="">
                <div style="color: red;" id="control-cvv-card">
                </div>
              </div>
            </div>

            <hr class="mb-4">
            </form>
            <button type="submit" form="formCard" value="Submit" style="max-width: 50%; margin: auto;" class="btn btn-primary btn-lg btn-block">Acquista con Carta <i style="margin-left: 2%;" class="fa fa-credit-card" aria-hidden="true"></i></button>

          </div>
          <!-- FINE STAMPARE AJAX -->