<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <!--Inizio Main-->
    <main id="main">
        <div style="margin-top: 6%; background-color: rgba(255,255,255,.8); border-radius: 20px 20px 20px 20px;" class='container'>
            <!-- Inizio Step -->
            <div style="margin-bottom: -5%;" class="row">
                <!--Grid column-->
                <div class="col-md-12">
                    <!-- Stepers Wrapper -->
                    <ul class="stepper stepper-horizontal">
                        <!-- First Step -->
                        <li class="completed">
                            <a onclick="return caricaSezione('services');">
                              <span class="circle">1</span>
                              <span class="label">Scelta servizio</span>
                          </a>
                        </li>
                        <!-- Second Step -->
                        <li class="completed">
                            <a >
                              <span class="circle">2</span>
                              <span class="label">Conferma</span>
                          </a>
                        </li>
                    </ul>
                    <!-- /.Stepers Wrapper -->
                </div>
                <!--Grid column-->
            </div>
            <!-- Fine step -->
                <h3 class="h2-responsive font-weight-bold text-center my-5">Inserisci ordine</h3>
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-12">
                        <form>
                            <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <input type="text" id="nome-attivita" class="form-control">
                                        <label for="nome-attivita" class="">Nome attività</label>
                                        <p id="error-attivita" style="color:red; font-weight: bold;"></p>
                                    </div>
                                </div>
                                <!-- Grid column -->
                                <!-- Grid column -->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <input type="text" id="data-ordine" class="form-control">
                                        <label for="data-ordine" class="">Data</label>
                                        <p id="error-data" style="color:red;font-weight: bold;"></p>
                                    </div>
                                </div>
                                <!-- Grid column -->
                            </div>
                            <!-- Grid row -->
                            <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        <input type="text" id="indirizzo-ordine" class="form-control">
                                        <label for="indirizzo-ordine" class="">Indirizzo</label>
                                        <p id="error-indirizzo" style="color:red;font-weight: bold;"></p>
                                    </div>
                                </div>
                                <!-- Grid column -->
                            </div>
                            <!-- Grid row -->
                            <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <textarea type="text" id="note-ordine" class="form-control md-textarea" rows="3"></textarea>
                                        <label for="note-ordine">Note per il drone</label>
                                        <p id="error-note" style="color:red;font-weight: bold;"></p>
                                    </div>
                                </div>
                                <!-- Grid column -->
                            </div>
                            <!-- Grid row -->
                        <div class="text-center text-md-center">
                            <a onclick = "return verificaForm();" class="btn btn-primary btn-md">invia</a>
                        </div>
                        </form>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
        </div>
    </main>
    <!--Fine Main-->
</body>

</html>