<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <!--Inizio Main-->
    <main id="main">
      <div style="margin-top: 5%; text-align: center;" class="container-fluid">
        <div class="table-wrapper-scroll-y">
   <table style="background-color: rgba(69,132,244,0.2);" id="dtVerticalScrollExample" class="table table-striped table-bordered table-lg" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th scope="col">NUMERO ORDINE</th>
      <th scope="col">DESCRIZIONE</th>
      <th scope="col">DATA</th>
      <th scope="col">INDIRIZZO CONSEGNA</th>
      <th scope="col">STATO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Alimentare: Da Franco</td>
      <td>01/12/2018</td>
      <td>Via delle palme 13, Roma</td>
      <td><span style="background-color: green !important; font-style: bold;" class="badge badge-primary">Completato</span></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ritiro posta</td>
      <td>02/12/2018</td>
      <td>Via yeles 13, Roma</td>
      <td><span style="background-color: green !important; font-style: bold;" class="badge badge-primary">Completato</span></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Macelleria amica</td>
      <td>03/12/2018</td>
      <td>Via prenestina 234, Roma</td>
      <td><span style="background-color: green !important; font-style: bold;" class="badge badge-primary">Completato</span></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Medicine: Farmacia Nomentato</td>
      <td>04/12/2018</td>
      <td>Via nomentana 47, Roma</td>
      <td><span style="background-color: green !important; font-style: bold;" class="badge badge-primary">Completato</span></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Panoramica del Colosseo</td>
      <td>07/12/2018</td>
      <td>Colosseo, Roma</td>
      <td><span style="color: black !important; background-color: yellow !important; font-style: bold;" class="badge badge-primary">In Corso</span></td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>TopChoice: Abbigliamento</td>
      <td>08/12/2018</td>
      <td>Via dei bersaglieri 88, Roma</td>
      <td ><span style="color: black !important; background-color: yellow !important; font-style: bold;" class="badge badge-primary">In Corso</span></td>
    </tr>
  </tbody>
</table>
</div>
</div>
    </main>
    <!--Fine Main-->
</body>

</html>