<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <!--Inizio Main-->
    <main id="main">
      <div style="margin-top: 5%; text-align: center;" class="container-fluid">
        <div class="table-wrapper-scroll-y">
   <table style="background-color: rgba(69,132,244,0.2);" id="dtVerticalScrollExample" class="table table-striped table-bordered table-lg" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th scope="col">NUMERO ORDINE</th>
      <th scope="col">SERVIZIO: NOME ATTIVITA'</th>
      <th scope="col">DATA</th>
      <th scope="col">INDIRIZZO CONSEGNA</th>
      <th scope="col">STATO</th>
    </tr>
  </thead>
  <tbody id="OrTBody">
  </tbody>
</table>
</div>
</div>
    </main>
    <!--Fine Main-->
</body>

</html>