<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <!--Inizio Main-->
    <main id="main">
    	<div style="margin-top: 5%; font-style: bold; font-family: 'Times New Roman';" class="container">
    		<h1 style="text-align: center;">Condizioni meteo e traffico attuali:
             <span style="background-color: green !important; font-style: bold; 
              font-family: 'Times New Roman';" class="badge badge-primary">Volo consigliato
              </span>
            </h1>

    		<a style="margin-top: 3%;" class="weatherwidget-io" 
            href="https://forecast7.com/it/41d9012d50/metropolitan-city-of-rome/" data-label_1="ROMA" 
            data-label_2="Situazione Meteo" data-font="Roboto" data-icons="Climacons Animated" 
            data-days="3" data-theme="gray" data-basecolor="#4584f4" data-highcolor="#ff6537"
            data-lowcolor="#ffffff" >ROMA Situazione Meteo</a>
            <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
            </script>

            <!--<div style="margin-bottom: 10%;" id="map-container-google-6" class="z-depth-1-half map-container-6">
            <iframe src="https://maps.google.com/maps?q=q=rome&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                style="border:0" allowfullscreen></iframe>
            </div>-->

            <div style="margin-bottom: 10%;" id="map" class="z-depth-1-half map-container-6"></div>
        </div>

        <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.
        var map, infoWindow;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 0, lng: 0}, //{lat: -34.397, lng: 150.644},
            zoom: 13
            });
            infoWindow = new google.maps.InfoWindow;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                /* navigator.geolocation.getCurrentPosition(mostraPosizione, gestisciErrore, opzioni);*/
                navigator.geolocation.getCurrentPosition(
                    function(position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };

                        infoWindow.setPosition(pos);
                        infoWindow.setContent('Location found.');
                        infoWindow.open(map);
                        map.setCenter(pos);
                    }, 
                    function() {
                        handleLocationError(true, infoWindow, map.getCenter());
                    },
                    {
                        enableHighAccuracy: true,
                        maximumAge: 60000, // Il tempo espresso in millisecondi per cui è possibile riutilizzare una posizione precedentemente rilevata
                        timeout: 5000 // Quantità massima di millisecondi entro cui ottenere informazioni sulla posizione corrente
			        }
                );
            } 
            else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqocSrJLpO2HdRueH_FHq-cTXbCiWkca4&callback=initMap">
        </script>
    </main>
    <!--Fine Main-->
</body>

</html>