<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <!--Inizio Main-->
    <main id="main">
    	<div style="margin-top: 5%; font-style: bold; font-family: 'Times New Roman';" class="container">
    		<h1 style="text-align: center;">Condizioni meteo e traffico attuali: <span style="background-color: green !important; font-style: bold; font-family: 'Times New Roman';" class="badge badge-primary">Volo consigliato</span></h1>

    		<a style="margin-top: 3%;" class="weatherwidget-io" href="https://forecast7.com/it/41d9012d50/metropolitan-city-of-rome/" data-label_1="ROMA" data-label_2="Situazione Meteo" data-font="Roboto" data-icons="Climacons Animated" data-days="3" data-theme="gray" data-basecolor="#4584f4" data-highcolor="#ff6537" data-lowcolor="#ffffff" >ROMA Situazione Meteo</a>

            <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
            </script>

            <div style="margin-bottom: 10%;" id="map-container-google-6" class="z-depth-1-half map-container-6">
                <iframe src="https://maps.google.com/maps?q=q=rome&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </main>
    <!--Fine Main-->
</body>

</html>