<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <!--Inizio Main-->
    <main id="main">
    	<div style="margin-top: 5%;" class="container">
        <h1 style="text-align: center; margin-bottom: 2%;">Scegli un servizio</h1>
    		<div class="row mb-5">

              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4">

                  <!--Collection card-->
                  <div style="height: 80%;" class="card collection-card z-depth-1-half">
                      <!--Card image-->
                      <div class="view zoom">
                          <img src="../dist/img/services/cibo.jpg" class="img-fluid" alt="">
                          <div class="stripe dark">
                              <a onclick="return caricaSezione('new_order');">
                                  <p>Alimenti
                                      <i class="fa fa-angle-right"></i>
                                  </p>
                              </a>
                          </div>
                      </div>
                      <!--Card image-->
                  </div>
                  <!--Collection card-->

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4">

                  <!--Collection card-->
                  <div style="height: 80%;" class="card collection-card z-depth-1-half">
                      <!--Card image-->
                      <div class="view zoom">
                          <img src="../dist/img/services/medicine.jpg" class="img-fluid" alt="">
                          <div class="stripe light">
                              <a onclick="return caricaSezione('new_order');">
                                  <p>Farmaci
                                      <i class="fa fa-angle-right"></i>
                                  </p>
                              </a>
                          </div>
                      </div>
                      <!--Card image-->
                  </div>
                  <!--Collection card-->

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4">

                  <!--Collection card-->
                  <div style="height: 80%;" class="card collection-card z-depth-1-half">
                      <!--Card image-->
                      <div class="view zoom">
                          <img src="../dist/img/services/abiti.jpg" class="img-fluid" alt="">
                          <div class="stripe dark">
                              <a onclick="return caricaSezione('new_order');">
                                  <p>Abbigliamento
                                      <i class="fa fa-angle-right"></i>
                                  </p>
                              </a>
                          </div>
                      </div>
                      <!--Card image-->
                  </div>
                  <!--Collection card-->

              </div>
              <!--Grid column-->

              <!--Fourth column-->
              <div class="col-lg-3 col-md-6 mb-4">

                  <!--Collection card-->
                  <div style="height: 80%;" class="card collection-card z-depth-1-half">
                      <!--Card image-->
                      <div class="view zoom">
                          <img src="../dist/img/services/foto.jpg" class="img-fluid" alt="">
                          <div class="stripe light">
                              <a onclick="return caricaSezione('new_order');">
                                  <p>Foto e Video
                                      <i class="fa fa-angle-right"></i>
                                  </p>
                              </a>
                          </div>
                      </div>
                      <!--Card image-->
                  </div>
                  <!--Collection card-->

              </div>
              <!--Fourth column-->

          </div>
          <div style="margin-top: -11%;" class="row mb-5">

              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4">

                  <!--Collection card-->
                  <div style="height: 80%;" class="card collection-card z-depth-1-half">
                      <!--Card image-->
                      <div class="view zoom">
                          <img src="../dist/img/services/libri.jpg" class="img-fluid" alt="">
                          <div class="stripe dark">
                              <a onclick="return caricaSezione('new_order');">
                                  <p>Libri e Riviste
                                      <i class="fa fa-angle-right"></i>
                                  </p>
                              </a>
                          </div>
                      </div>
                      <!--Card image-->
                  </div>
                  <!--Collection card-->

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4">

                  <!--Collection card-->
                  <div style="height: 80%;" class="card collection-card z-depth-1-half">
                      <!--Card image-->
                      <div class="view zoom">
                          <img src="../dist/img/services/posta.jpg" class="img-fluid" alt="">
                          <div class="stripe light">
                              <a onclick="return caricaSezione('new_order');">
                                  <p>Posta e Pacchi
                                      <i class="fa fa-angle-right"></i>
                                  </p>
                              </a>
                          </div>
                      </div>
                      <!--Card image-->
                  </div>
                  <!--Collection card-->

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4">

                  <!--Collection card-->
                  <div style="height: 80%;" class="card collection-card z-depth-1-half">
                      <!--Card image-->
                      <div class="view zoom">
                          <img src="../dist/img/services/cartolibreria.jpg" class="img-fluid" alt="">
                          <div class="stripe dark">
                              <a onclick="return caricaSezione('new_order');">
                                  <p>Cancelleria
                                      <i class="fa fa-angle-right"></i>
                                  </p>
                              </a>
                          </div>
                      </div>
                      <!--Card image-->
                  </div>
                  <!--Collection card-->

              </div>
              <!--Grid column-->

              <!--Fourth column-->
              <div class="col-lg-3 col-md-6 mb-4">

                  <!--Collection card-->
                  <div style="height: 80%;" class="card collection-card z-depth-1-half">
                      <!--Card image-->
                      <div class="view zoom">
                          <img src="../dist/img/services/altro.jpg" class="img-fluid" alt="">
                          <div class="stripe light">
                              <a onclick="return caricaSezione('new_order');">
                                  <p>Altro
                                      <i class="fa fa-angle-right"></i>
                                  </p>
                              </a>
                          </div>
                      </div>
                      <!--Card image-->
                  </div>
                  <!--Collection card-->

              </div>
              <!--Fourth column-->

          </div>
    	</div>
    </main>
    <!--Fine Main-->
</body>

</html>