body {
  padding-bottom: 20px;
  background-color: #FFFFFF;
}

footer {
  position:absolute;
   bottom:0;
   width:100%;
}

.btn {
	background-color: #FFFFFF !important;
	color:#6C747C;
	border: 1px solid white;
}

.navbar {
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
}


