<!DOCTYPE html>
<html>
<head>
    <!-- Javascript -->
    <script type="text/javascript" lang="javascript" src="../dist/js/workWithUs.js"></script>
</head>

<body>
<!-- Sezione registrazione pilota -->
<section id="form" class="py-5">
    <div class="container">
    <div class="modal-content modal-dialog my-form" aria-labelledby="myModalLabel">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Registrazione nuovo pilota <button onClick="return caricaHTM('shopForm');" style="margin-left: 30%;" class="badge badge-primary">Sei un negozio? Clicca qui</button></h4>
            </div>
            <form name="registration" method="post" action="" onSubmit="return validateRegistration()">
            <div class="modal-body mx-1 container">
              <div class="col-sm">
                <div class="md-form mb-5">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="orangeForm-name" class="form-control validate"
                    required pattern="[A-Z][a-z]+( [A-Z][a-z']+)+"
                    title="es. Mario Rossi">
                    <label data-error="errore" data-success="corretto" for="orangeForm-name">
                      Nome e Cognome</label>
                </div>
              </div>

              <div class="col-sm">
                <div class="md-form mb-5">
                    <i class="fa fa-address-card prefix grey-text"></i>
                    <input type="text" id="orangeForm-codiceFiscale"
                      class="form-control validate" required 
                      pattern="[A-Z]{6}[0-9]{2}[A-Z][0-9]{2}[A-Z][0-9]{3}[A-Z]">
                     <label data-error="errore" data-success="corretto"
                      for="orangeForm-codiceFiscale">Codice Fiscale</label>
                </div>
              </div>

              <div class="col-sm">
                <div class="md-form mb-5">
                    <i class="fa fa-building prefix grey-text"></i>
                    <input type="text" id="orangeForm-citta" required pattern="[A-Z]['a-z]+( [A-Z][a-z']+)*" 
                     class="form-control validate" title="Inserisci la città dove vorresti lavorare, facendo seguire ad ogni spazio una lettera maiuscola (es. Milano, Citta Del Messico)">
                    <label data-error="errore" data-success="corretto" 
                     for="orangeForm-luogoNascita">Città</label>
                </div>
              </div>

              <div class="col-sm">
                <div class="md-form mb-5">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="email" id="defaultForm-email" class="form-control validate" required>
                    <label data-error="errore" data-success="corretto" for="defaultForm-email">
                     Email</label>
                </div>
              </div>
          
              <div class="col-sm">
                <div class="md-form mb-4">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="orangeForm-passReg" class="form-control validate"
                     required pattern="(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]).{8,}"
                     title="Deve contenere almeno 8 caratteri di cui almeno uno numerico e uno speciale">
                    <label data-error="errore" data-success="corretto" for="defaultForm-pass">
                        Password</label>
                </div>
              </div>

              <div class="col-sm">
                <div class="md-form mb-4">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="orangeForm-pass2Reg" class="form-control"
                     required>
                    <label data-error="wrong" data-success="right" for="orangeForm-pass2Reg"
                     onClick="resetField('orangeForm-pass2', 'control-PasswordReg')">
                     Conferma Password</label>
                     <span><h6 class="myFeedback" id="control-PasswordReg"></h6>
                     </span>
                </div>
              </div>

                <!-- Bottone input file multipli -->
              <div class="col-sm">
                <div class="md-form mb-5">
                    <div class="file-field">
                        <div class="btn btn-primary btn-sm float-left">
                            <span>Scegli files</span>
                            <input type="file" multiple required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text"
                             placeholder=" Cv e licenza di pilota APR">
                        </div>
                    </div>
                </div>
              </div>

                <!-- Checkbox -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="terms_conditions2" required>
                    <label class="custom-control-label" for="terms_conditions2">
                        Ho letto e accetto <a href="privacy.html">termini e condizioni</a>
                    </label>
                </div>
                
                <div class="md-form mb-5 col-sm">
                    <p class="font-small grey-text d-flex justify-content-end">Hai già un account?
                        <a class="blue-text ml-1" href=""> Entra</a>
                    </p>
                </div>
            </div>

            <div class="modal-footer d-flex justify-content-center">
                <button type=submit class="btn btn-primary">Registrati</button>
            </div>
        </form>
    </div>
    </div>
</section>
</body>
</html>