<!DOCTYPE html>
<html>
<!-- Sezione registrazione negozio-->
<section class="py-5">
    <div class="container">
        <div class="modal-content modal-dialog" role="document" aria-labelledby="myModalLabel">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Registrazione nuova attività</h4>
            </div>
          <div class="container" style="margin: auto;">
            <form name="registration" method="post" action="" onSubmit="return validateRegistration()">
                <div class="modal-body ml-auto container">
                    <div style="margin-left:10%;" class="row">
                        <div class="col-sm-5">
                            <div class="md-form mb-5">
                                <i class="fa fa-user prefix grey-text"></i>
                                <input type="text" id="orangeForm-nameProp" class="form-control validate" required pattern="[A-Z][a-z]+( [A-Z][a-z']+)+" title="es. Mario Rossi">
                                <label data-error="errore" data-success="corretto" for="orangeForm-nameProp">
                                    Nome e Cognome</label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="md-form mb-5">
                                <i class="fa fa-address-card prefix grey-text"></i>
                                <input type="text" id="orangeForm-codiceFiscaleProp" class="form-control validate" required pattern="[A-Z]{6}[0-9]{2}[A-Z][0-9]{2}[A-Z][0-9]{3}[A-Z]">
                                <label data-error="errore" data-success="corretto" for="orangeForm-codiceFiscaleProp">Codice Fiscale</label>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left:10%;" class="row">
                        <div class="col-sm-5">
                            <div class="md-form mb-5">
                                <i class="fa fa-building prefix grey-text"></i>
                                <input type="text" id="orangeForm-nomeNegozio" class="form-control validate" required>
                                <label data-error="errore" data-success="corretto" for="orangeForm-nomeNegozio">Nome negozio</label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="md-form mb-5">
                                <i class="fa fa-industry prefix grey-text"></i>
                                <input type="text" id="orangeForm-attivita" class="form-control validate" pattern="[A-Za-z ']+" required>
                                <label data-error="errore" data-success="corretto" for="orangeForm-attivita">Tipo di attività</label>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left:10%;" class="row">
                        <div class="col-sm-5">
                            <div class="md-form mb-5">
                                <i class="fa fa-building prefix grey-text"></i>
                                <input type="text" id="orangeForm-cittaNegozio" class="form-control validate" required pattern="[A-Z]['a-z]+( [A-Z][a-z']+)*" title="Inserire la città dove risiede l'attività, facendo seguire ad ogni spazio una lettera maiuscola (es. Milano, Citta Del Messico)">
                                <label data-error="errore" data-success="corretto" for="orangeForm-cittaNegozio">Città attività</label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="md-form mb-5">
                                <i class="fa fa-building prefix grey-text"></i>
                                <input type="text" id="orangeForm-comune" class="form-control validate" required pattern="[A-Z]{2}" title="In maiuscolo (es. RM)">
                                <label data-error="errore" data-success="corretto" for="orangeForm-comune">
                                    Comune attività</label>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left:10%;" class="row">
                        <div class="col-sm-5">
                            <div class="md-form mb-5">
                                <i class="fa fa-map-marker prefix grey-text"></i>
                                <input type="text" id="orangeForm-addressNegozio" class="form-control validate" required pattern="[A-Z][a-z]+( [A-Z][a-z']+)+" title="es. Via Roma">
                                <label data-error="errore" data-success="corretto" for="orangeForm-addressNegozio">
                                    Indirizzo attività</label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="md-form mb-5">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input type="email" id="orangeForm-emailProp" class="form-control validate" required>
                                <label data-error="errore" data-success="corretto" for="orangeForm-emailProp">Email</label>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left:10%;" class="row">
                        <div class="col-sm-5">
                            <div class="md-form mb-4">
                                <i class="fa fa-lock prefix grey-text"></i>
                                <input type="password" id="orangeForm-passReg" class="form-control validate" required pattern="(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]).{8,}" title="Deve contenere almeno 8 caratteri di cui almeno uno numerico e uno speciale">
                                <label data-error="errore" data-success="corretto" for="orangeForm-passReg">Password</label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="md-form mb-4">
                                <i class="fa fa-lock prefix grey-text"></i>
                                <input type="password" id="orangeForm-pass2Reg" class="form-control" required onClick="resetField('orangeForm-pass2Reg', 'control-PasswordReg')">
                                <label data-error="errore" data-success="corretto" for="orangeForm-pass2Reg">
                                    Conferma Password</label>
                                <span><h6 class="myFeedback" id="control-PasswordReg"></h6>
                                     </span>
                            </div>
                        </div>
                    </div>
                    <!-- Bottone input file multipli -->
                    <div style="margin-left:10%;" class="md-form mb-5 col-sm-9">
                        <div class="file-field">
                            <div class="btn btn-primary btn-sm float-left">
                                <span>Scegli files</span>
                                <input type="file" multiple required>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder=" Cv e titolo di vendita">
                            </div>
                        </div>
                    </div>
                    <!-- Checkbox -->
                    <div style="margin-left:10%;" class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="terms_conditions" required>
                        <label class="custom-control-label" for="terms_conditions">
                            Ho letto e accetto <a href="privacy.html">termini e condizioni</a>
                        </label>
                    </div>
                    <div style="margin-right:10%; class="md-form">
                        <p class="font-small grey-text d-flex justify-content-end">Hai già un account?
                            <a class="blue-text ml-1" href=""> Entra</a>
                        </p>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Registrati</button>
                </div>
            </form>
          </div>
        </div>
    </div>
</section>

</html>